---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
	<main>
		<h1 class=" text-5xl font-extrabold text-justify justify-center md:grid md:grid-cols-1 ">Sobre este blog y Quien soy</h1>
             <img src="../public/me.jpeg" alt="me" class=" aspect-auto my-5 w-1/2 md:w-1/4 rounded-lg">
             <p class="my-5 text-justify text-2xl md:grid md:grid-cols-1 md:gap-x-8 md:gap-y-12 md:text-xl">
                Dejame presentarme; Me llamo Elean Quintero, soy estudiante de programacion 💻 y japones 🇯🇵 (actualmente de manera autodidacta), me dedico principalmente a la programacion web y el desarrollo fullstack.
                Ademas de eso, soy un apasionado por Japon, su idioma y su cultura me fascinan.
            </p>

            <p>En un intento por unificar mis dos pasiones actuales; El desarrollo web y Japon, nace Nihongo Blog, un espacio de internet donde he decidido 
                contarte mis aprendizajes en el camino de estudiar japones</p> 

            <p>Mi objetivo es transmitirte el sentimiento de querer aprender un idioma tan bonito como es el japones, y quien sabe,
                quizas este espacio sea el inicio de tu proximo camino de aprendizaje en este maravilloso idioma.
            </p>

            <p class="my-5 text-justify text-2xl md:grid md:grid-cols-1 md:gap-x-8 md:gap-y-12 md:text-xl">
                En este blog te enseñare el camino que he seguido desde hace un año y que estoy siguiendo actualmente para aprender japones.
            </p>

            <p class="my-5 text-justify text-2xl md:grid md:grid-cols-1 md:gap-x-8 md:gap-y-12 md:text-xl">
                Ademas de darte otras alternativas y consejos especificos para empezar tu ruta de aprendizaje en este gran idioma 😄
            </p>
	</main>
</Layout>