---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('posts')
---

<Layout title="Welcome to Nihongo Blog.">
	<main>
		{posts.map((posts) => (
			<section class=" grid grid-cols-2 gap-3">
				<Card 
				title={posts.data.title}
				body={posts.data.description} 
				href={`/${posts.slug}`}
				img={posts.data.img} />
			</section>
		))}
	</main>
</Layout>
