---
import GHLogo from "../icons/GHLogo.astro"
---

<footer class="footer pt-8 pb-6 f6 color-fg-muted p-responsive-gray-900 text-white w-full flex items-center justify-between p-4">
    <p class="flex-grow text-center">
        &copy; 2024 Nihongo Blog by Eleqful
    </p>
    <div class="flex space-x-2">
        <a target="_blank" href="https://github.com/EleanQuintero" aria-label="GitHub">
            <GHLogo class="w-4 h-4"/>
        </a>
    </div>
</footer>