--- 
import MenuIcon from "../icons/MenuIcon.astro";
import NavBar from "./NavBar.astro";
import MobileNavBar from "./MobileNavBar.astro";


---

<header class="px-4 mx-auto max-w-screen-lg lg:py-10 lg:px-6">
    <div class="mx-auto text-center nb-8 lg:nb-16">
        <div class=" inline-flex items-center" >
            <h2 class=" nb-4 mr-7 text-xl sm:text-5xl tracking-tight font-extrabold text-white">
                Nihongo Blog
            </h2>
            <div class="flex sm:hidden  " >
                <input type="checkbox" id="menu-toggle" class="hidden" />
                        <MenuIcon/>
                    </label>
                    <MobileNavBar/>
            </div>
        </div>
        <p class=" my-4 font-light text-gray-500 sm:text-xl dark:text-gray-400">
            Todo lo que necesitas saber para empezar tu ruta de aprendizaje de japones!
        </p>
        <NavBar />
    </div>
</header> 

<style is:global>

#menu-toggle:checked ~ #mobile-navbar{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
	align-content: center;
	justify-items: center;
}

#menu-toggle:checked ~ #menu-icon{
    display: none;
}
</style>