---

---

<header class="py-8 px-4 mx-auto max-w-screen-lg lg:py-16 lg:px-6">
    <div class="mx-auto text-center nb-8 lg:nb-16">
        <h2 class=" nb-4 text-5xl tracking-tight font-extrabold text-white">
            Nihongo Blog by Eleqful
        </h2>
        <p class=" my-4 font-light text-gray-500 sm:text-xl dark:text-gray-400">
            Todo lo que necesitas saber para empezar tu ruta de aprendizaje de japones!
        </p>

    </div>
</header>